{
    "batch_size": 64,
    "n_epochs": 20,
    "init_lr": 0.02,
    "reduce_lr_epochs": [
        0.5,
        0.75
    ],
    "reduce_lr_factors": [
        10,
        10
    ],
    "opt_config": [
        "momentum",
        {
            "momentum": 0.9,
            "use_nesterov": true
        }
    ],
    "dataset": "C10+",
    "validation_size": 5000,
    "validation_frequency": 10,
    "shuffle": "every_epoch",
    "normalization": "by_channels",
    "should_save_logs": true,
    "should_save_model": true,
    "renew_logs": false,
    "other_lr_schedule": {
        "type": "cosine"
    },
    "include_extra": false
}